.tool-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

.down-text {
  width: 100%;
  height: auto;
  overflow: auto;
  border: 1px solid black;
  background-color: white;
  margin-top: 8px;
  white-space: pre-wrap;
  font-size: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
h2 {
  color: #333;
  background-color: rgba(22, 22, 22, 0.6);
  /* word overflow */
  overflow: hidden;
}

.title .checked {
  color: red;
  font-weight: bold;
}

.item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px; 
  height: 400px;
  /* word */
  word-wrap: break-word;
}

.item h2 {
  font-size: 1em;
  color: white;
}

/* item 上いっぱいにイメージを表示 */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  /* 中央に配置 */
  margin: 0 auto;
}

/* imageに 重ねて inner を表示 */
.inner {
  position: relative;
  top: -400px;
  height: 400px;
}

/* inner の中の要素 上から配置する*/
.inner .title {  
  color: white;
  background-color: rgba(22, 22, 22, 0.1);
}

/* inner の中の要素 下から配置する*/
.inner .footer {
  font-size: 0.8em;
  position: absolute;
  background: rgba(22, 22, 22, 0.6);
  color: white;
  bottom: 0;
  display: block;
  align-items: center;
  margin-top: 10px;
}

.version {
  display: block;
}

.more_version {
  display: block;
}

.tags {
  display: block;
}
.trainWords {
  display: block;
  background-color: #222;
}


details[open] {
  position: relative;
  bottom: 0;
  z-index: 900;
  /* 飛び出ないように */
  overflow: hidden;
  /* 高さを指定 */
  max-height: 400px;
  max-width: 300px;
  /* 高さを超えた部分を非表示 */
  white-space: nowrap;
  text-overflow: ellipsis;
  /* スクロールバーを表示 */
  overflow: scroll;
}


.gotop {
  /* display: none; */
  position: fixed;
  bottom: 2rem;
  right: 1rem;
}

.gotop a{
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-size: 1.8em;
  /* center */
  line-height: 2;
  text-align: center;
/*  background-image: url('/icon/gotop.svg'); */
  color: white;
  background-color: darkgoldenrod;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  opacity: 1.0;
  animation: buttonflow 3s 1;
  display: block;
}

@keyframes buttonflow {
  from { opacity: 0; }
  to { opacity: 100; }
}

.gotop a:hover {
  opacity: 0.60;
  color: grey;
}