.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
h2 {
  color: #333;
  /* word overflow */
  overflow: hidden;
}
/*
<div class="item">
  <img class="image" src="https://placehold.jp/150x150.png" alt="image">
  <div class="inner">
    <h2>タイトル</h2>
    <div class="tags">タグ1, タグ2</div>
    <div class="trainWords
    ">学習単語1, 学習単語2</div>
    <div class="description">説明文</div>
  </div>
</div>
*/

.item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px; 
  height: 400px;
  /* word */
  word-wrap: break-word;
}

.item h2 {
  font-size: 1.2em;
}

/* item 上いっぱいにイメージを表示 */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  /* 中央に配置 */
  margin: 0 auto;
}

/* imageに 重ねて inner を表示 */
.inner {
  position: relative;
  top: -400px;
  height: 400px;
}

/* inner の中の要素 上から配置する*/
.inner .title {  
  color: #333;
  background-color: rgba(22, 22, 22, 0.1);
}

/* inner の中の要素 下から配置する*/
.inner .footer {
  font-size: 0.8em;
  position: absolute;
  background: rgba(22, 22, 22, 0.6);
  color: white;
  bottom: 0;
  display: block;
  align-items: center;
  margin-top: 10px;
}

.version {
  display: block;
}

.tags {
  display: block;
}
.trainWords {
  display: block;
  background-color: #222;
}
.description {
  display: block;
}